*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: black;
    color: white;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    /* ALIGN-ITENMS modifica os itens na vertical e o Justify-content na horizontal*/ 
    
}
nav{
    width: 60vw;
    
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
}

.ImagemUM{
    background-color: black;
    background-size: 40%;
    background-repeat: no-repeat;
    background-image: url(/IMAGE/DisneyHD.jpg);
    background-position: center;
    height: 40vh;
    width: 100%;
}

main{
    background-color: rgba(0, 0, 0, 0.87);
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

figure img{
    height: 30vh;
}

footer{
    background-color: black;
    color: white;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

/*Responsivo*/

@media (min-width:380px) and (max-width: 700px){
header{
    background-color: black;
}
main{
    
    flex-wrap: wrap;
}
footer{
    font-size: 12px;
    text-align: center;
    height: 25vh;
    
}
.ImagemUM{
    background-size: cover;
}
  
}